body {
    background:black;
    font-family: consolas;
    color: white;
}

iframe {
    float:left
}
a {
    color:white;
}

header h1{
    display: inline;
    margin: 0;
}

nav ul {
    display: inline;
    margin: 0;
}

nav ul li {
    background:black;
    color:green;
    display: inline-block;
    list-style-type: none;
    padding: 10px 10px;
    margin: 0;
}

#footer {
    position:absolute;
    bottom:0;
}

#BriefDescription {
    position:absolute;
    bottom: 50%;
}

#smart-button-container{
    position:absolute;
    bottom: 30%;
    right: 46%;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

#InterestCalculator {
    position:absolute;
    Bottom: 30%;
    right: 50%;
}
#CalculatorHeader {
    position: absolute;
    Bottom: 57.5%;
    right: 47%;
}
#answerdemo {
    position: absolute;
    bottom: 24%;
    right: 56%;
    text-align:left;
}
#demo {
    position: absolute;
    bottom:-50%;
    width:500%;
}

#TexturePack {
    position: absolute;
    Bottom: 57.5%;
    right: 47%;
}






















::-webkit-scrollbar
{
    width: 0;
}
#scrollPath {
    position:fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05)
}
#progressbar {
    position:fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7)
       ;
    animation: animate 5s linear infinite;
}
@keyframes animate {

    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7)
        ;
    filter: blur(10px);
}
#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7)
        ;
    filter: blur(30px);
}